.topo{
    padding: 25px 30px;
    width: 100%;
    margin-bottom: 2%;
}

.logo-topo{width: 100px; float: left; margin: 0px;}
.logo-topo img{width: 130%;}
.menu-principal{ float: left; margin-left: 10%; padding-top: 10px;}
.menu-principal a{color: #FFF; text-decoration: none; font-size: 20px; margin-left: 20px;}
.menu-principal a:hover{color: gray;}