video{width: 100%;}

.banner-titulo{position: absolute; margin-top: -20%; margin-left: 4%;}
img{width: 500px; margin-bottom: 9%;}
.btn-assistir{ background-color: #fff;  padding: 10px 50px; border-radius: 5px;
font-size: 20px; color: #000; text-decoration: none; font-weight: bold; margin-left: 2%;}
.btn-info{  padding: 10px 50px; border-radius: 5px; border: 2px solid #FFF;
    font-size: 20px; color: #FFF; text-decoration: none; font-weight: bold; margin-left: 8%;}