    <app-menu-principal></app-menu-principal>
    <app-banner></app-banner>
    <div class="container-principal">
      <app-lista-filmes title="Popular na Netflix" [list]="titulos"></app-lista-filmes>
      <app-lista-filmes title="Séries" [list]="titulosSerie"></app-lista-filmes>
      <app-lista-filmes title="Filmes" [list]="titulosFilme"></app-lista-filmes>
      <app-lista-filmes title="Originais Netflix" [list]="titulosOriginais"></app-lista-filmes>
    </div>

    <app-footer></app-footer>

